################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApiCrud/bin/Debug/net8.0
/WebApiCrud/obj
